
<% if params[:controller] == 'about' %>
<div class="well">
  <h3>
	Location info
  </h3>
  <ul>
	<li>The bookstore</li>
	<li>51 Campbeltown Road Bluffhill Harare</li>
	<li>Phone: +263 778 795 010</li>
	<li>Email: tbilliat26@gmail.com</li>
  </ul>
</div>
<% end %>

<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
<div class="list-group">
  <% @categories.each do |category| %>
  	<%= link_to category.name, category_path(category.id), class: 'list-group-item' %>
  <% end %>
</div>
<% end %>