<div id="books-show">
  <h2>
	Ruby On Rails Power
  </h2>
  <div class="books-show-left">
	<%= image_tag('covers/ror.jpg') %>
  </div>
  <div class="books-show-right">
	<h3>Book Info:</h3>
	<ul>
	  <li><strong>Category: </strong> Ruby On Rails</li>
	  <li><strong>Author: </strong> Aneesha Bakharia</li>
	  <li><strong>Publisher: </strong> Course Technology PTR</li>
	  <li><strong>Year</strong>2007</li>
	  <li><strong>ISBN: </strong>1598632167</li>
	  <li><strong>Format: </strong>PaperBack</li>
	  <li><strong>Pages: </strong>678</li>
	</ul>
	<%=link_to "Buy for $5.37", "http://www.ebay.com/itm/Ruby-Rails-Power-Comprehensive-Guide-Power-/221475598855?pt=US_Nonfiction_Book&hash=item3390f97207", class: 'btn btn-success', target: '_blank'%>
  </div>
  <div class="clearfix"></div>
  <h4>Excerpt</h4>
  <p>
	Lorem Ipsum is simply dummy text of the printing and typesetting industry.
	Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
	when an unknown printer took a galley of type and scrambled it to make a type specimen book.
	It has survived not only five centuries, but also the leap into electronic typesetting, remaining
	essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
	containing Lorem Ipsum passages, and more recently with desktop publishing software
	like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</div>