<div class="container">
  <h1><%= @page_title %></h1>

  <p class="col-12" style="text-align: justify">

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt dignissim purus, et pretium erat tristique mollis. Suspendisse potenti. Phasellus dictum aliquet felis ac sodales. Sed sit amet felis cursus, elementum nisi at, feugiat enim. Aenean mattis sollicitudin nunc at pulvinar. Phasellus leo justo, pellentesque vitae magna eget, egestas elementum ante. Sed porta consectetur ligula cursus egestas. Etiam congue leo sit amet odio dignissim, vitae iaculis ipsum mattis. Aenean convallis egestas mattis. Mauris lobortis lectus non viverra eleifend. Ut nisl nisi, interdum a eros luctus, elementum commodo arcu. Fusce vel enim magna. Proin nec consequat justo, vitae elementum dui. Mauris lobortis porta justo, sed accumsan tortor cursus at. Nullam luctus elit quis eros tempor, quis aliquam odio tincidunt. Curabitur vel hendrerit neque, in commodo lacus.

    Aliquam eleifend augue risus, sit amet bibendum tellus tincidunt eget. Fusce neque est, imperdiet quis lacinia vel, aliquam eu diam. Nullam feugiat vehicula consequat. Vestibulum bibendum justo eget nunc fringilla dapibus. Nullam sapien ante, ultricies non sollicitudin id, tempus a urna. Vestibulum blandit, leo sed auctor elementum, ipsum lacus tempor diam, sit amet porttitor lacus arcu id nisl. In pulvinar facilisis justo ut fringilla.

    In porttitor nisl nec elementum mollis. Vestibulum ipsum mauris, elementum ac facilisis nec, accumsan et neque. Sed in quam ut felis feugiat posuere eget non magna. Maecenas a massa nunc. In non libero feugiat lacus tincidunt auctor. Nullam faucibus luctus hendrerit. Etiam semper nibh odio. Etiam a pulvinar dolor. Ut viverra sagittis erat, sit amet dignissim risus. Fusce lorem nisi, fringilla at pellentesque sit amet, egestas eget metus. Proin nec faucibus neque.

    Nam nec finibus risus. Morbi vitae iaculis tortor, fringilla faucibus lacus. Duis ornare ultrices cursus. Duis vulputate congue mattis. Proin at tristique lorem, sed rutrum est. Sed et dolor congue, lacinia erat et, venenatis felis. Maecenas ut nulla odio. Nunc ac congue tellus. Aliquam ante urna, eleifend eu vehicula at, ullamcorper id nisi. Cras sodales odio at purus tincidunt, sed accumsan felis ullamcorper. Pellentesque at sollicitudin urna. Curabitur accumsan pellentesque lectus, sit amet ullamcorper dolor condimentum eget.

    Nulla facilisi. Donec ultrices felis eu arcu gravida condimentum. Ut diam odio, scelerisque eget tortor vel, sollicitudin tincidunt sapien. Pellentesque suscipit quam in placerat fringilla. Aenean ornare arcu sit amet vulputate rutrum. Fusce lacinia, velit vel rhoncus dictum, mauris lectus rutrum sem, non laoreet eros augue quis risus. In nec libero facilisis, volutpat augue sed, mollis justo. Etiam sed urna eget velit tincidunt blandit at a diam. Maecenas lorem tortor, porttitor at fringilla et, porttitor vitae erat. Suspendisse et facilisis elit. Praesent ullamcorper congue elementum. Sed dapibus lectus ut pulvinar molestie. Vivamus non risus congue, eleifend mi quis, posuere tortor. Donec fermentum arcu enim. Curabitur id nibh purus. Nam placerat leo sit amet tortor aliquam pharetra.
  </p>

  <div class="well">
    <h3>
      Location info
    </h3>
    <ul>
      <li>The bookstore</li>
      <li>51 Campbeltown Road Bluffhill Harare</li>
      <li>Phone: +263 778 795 010</li>
      <li>Email: tbilliat26@gmail.com</li>
    </ul>

  </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
